<div class="card text-white bg-custom-dark mb-3" style="width: 100%;"><!-- PlayerInformation -->
    <div class="card-header pt-4 pb-4"><small class="font-weight-bold">{% if app.user.player == player %}My{% else %}{% endif %}</small>Information</div>
    <div class="card-body">
        <div class="card-standings-header">

            <div class="row">
                <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.status' | trans }}</div>
                <div class="col text-center pt-1 pb-0 text-white-50 card-small-text">
                    {% if player.isTrainingFinished() == false %}
                        <span class="badge badge-danger">{{ 'player_information.statuses.training' | trans }}</span>
                    {% else %}
                        <span class="badge badge-success">{{ 'player_information.statuses.rest' | trans }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.born' | trans }}</div>
                <div class="col text-center pt-1 pb-1 text-white-50 card-small-text">{{ player.born|date('Y-m-d') }}</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.position' | trans }}</div>
                <div class="col text-center pt-1 pb-1 text-white-50 card-small-text">{{ player.position.name }}</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.country' | trans }}</div>
                <div class="col text-center pt-1 pb-1 text-white-50 card-small-text">{{ player.country.name }}</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.skills' | trans }}</div>
                <div class="col text-center pt-1 pb-1 text-white-50 card-small-text">{{ player.firstType.name }}, {{ player.secondType.name }}</div>
            </div>
            <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.team' | trans }}</div>
                <div class="col text-center pt-1 pb-1 text-white-50 card-small-text">{% if player.team %} {{ player.team.city }} {{ player.team.name }} {% else %} {{ 'player_information.none' | trans }} {% endif %}</div>
            </div>
            {% if player.team %}
                {% if player.isRealPlayer %}

                <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                    <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.contract_ends' | trans }}</div>
                    <div class="col text-center pt-1 pb-1 text-white-50 card-small-text">{{ player.seasonEndsContract - season }} {{ 'player_information.seasons' | trans }}</div>
                </div>
                {% endif %}
                <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                    <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.jersey' | trans }}</div>
                    <div class="col text-center pt-1 pb-1 text-white-50 card-small-text">#{{ player.jerseyNumber }}</div>
                </div>
            {% endif %}
            <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="col text-center pt-1 pb-1 text-white card-small-text">{{ 'player_information.height' | trans }}</div>
                <div class="col text-center pt-1 pb-0 text-white-50 card-small-text">{{ player.height }} cm, {{ player.weight }} kg</div>
            </div>
            {% set break = false %}
            {% for award in player.playerAwards if not break %}
                {% if award.award == 'AWARD_ROTY' %}
                    <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                        <div class="col text-center pt-2 pb-1 text-white card-small-text">{{ 'player_information.rookie' | trans({'season': award.season.id}) }}</div>
                    </div>
                {% set break = true %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div><!-- PlayerInformation -->
