{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.titles.list_badge' | trans }}{% endblock %}

{% block body %}

    <div class="container mt-5"><!-- Container -->

        <div class="row">
            <div class="col-md-4 mb-5">
                {% include 'admin/_partials/_admin_navbar.html.twig' %}
            </div>

            <div class="col-md-8 mb-5">


                <div class="card bg-custom-dark">
                    <div class="card-header">{{ 'list_badge.header' | trans }} ({{ badges.getTotalItemCount }}) <a href="{{ path('admin_dashboard') }}" style="font-size: x-small !important;" class="btn btn-sm btn-outline-secondary float-right">{{ 'template.admin.dashboard' | trans }}</a></div>
                    <div class="card-body">
                        <div class="row mb-4 d-flex justify-content-center">
                            <a href="{{ path('new_badge') }}" class="btn btn-sm btn-secondary ml-2">{{ 'badge_list.button.new' | trans }}</a>

                        </div>
                        <div class="row">
                            <table class="table table-borderless text-center text-white">
                                <thead class="text-white-50">
                                <tr>
                                    <td>{{ 'list_badge.table.header.badge' | trans }} </td>
                                    <td>{{ 'list_badge.table.header.bonus_for' | trans }} </td>
                                    <td>{{ 'list_badge.table.header.actions' | trans }} </td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for badge in badges %}
                                    <tr>
                                        <td>{{ badge.name }}</td>
                                        <td>{{ badge.attribute.name }}</td>
                                        <td><a href="{{ url('delete_badge', {'id': badge.id}) }}" class="btn btn-sm btn-danger">{{ 'badge_list.button.remove' | trans }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="navigation col-md-4 offset-md-4 mt-4 d-flex justify-content-center">
                    {{ knp_pagination_render(badges) }}
                </div>
            </div>


        </div>
    </div><!-- Container -->


{% endblock %}
