{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.titles.list_coach' | trans }}{% endblock %}

{% block body %}

    <div class="container mt-5"><!-- Container -->

        <div class="row">
            <div class="col-md-4 mb-5">
                {% include 'admin/_partials/_admin_navbar.html.twig' %}
            </div>

            <div class="col-md-8 mb-5">


                <div class="card bg-custom-dark">
                    <div class="card-header">{{ 'list_coach.header' | trans }} ({{ coaches.getTotalItemCount }}) <a href="{{ path('admin_dashboard') }}" style="font-size: x-small !important;" class="btn btn-sm btn-outline-secondary float-right">{{ 'template.admin.dashboard' | trans }}</a></div>
                    <div class="card-body">
                        <div class="row mb-4 d-flex justify-content-center">
                            <a href="{{ path('new_coach') }}" class="btn btn-sm btn-secondary ml-2">{{ 'list_coach.button.new' | trans }}</a>
                        </div>
                        <div class="row">
                            <table class="table table-borderless text-center text-white">
                                <thead class="text-white-50">
                                <tr>
                                    <td>{{ 'list_coach.table.header.coach' | trans }}</td>
                                    <td>{{ 'list_coach.table.header.has_team' | trans }}</td>
                                    <td>{{ 'list_coach.table.header.actions' | trans }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for coach in coaches %}
                                    <tr>
                                        <td>{{ coach.firstname }} {{ coach.lastname }}</td>
                                        <td>{% if coach.team %} {{ coach.team.city }} {{ coach.team.name }} {% else %}{{ 'list_player.table.data.no' | trans }}{% endif %}</td>
                                        <td><a href="{{ url('delete_coach', {'id': coach.id}) }}" class="btn btn-sm btn-danger">{{ 'list_coach.button.remove' | trans }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="navigation col-md-4 offset-md-4 mt-4 d-flex justify-content-center">
                    {{ knp_pagination_render(coaches) }}
                </div>
            </div>


        </div>
    </div><!-- Container -->


{% endblock %}
