{% extends 'base.html.twig' %}

{% block title %}{{ 'pages.title.season_management' | trans }}{% endblock %}

{% block body %}

    <div class="container mt-5"><!-- Container -->

        <div class="row">
            <div class="col-md-4 mb-5">
                {% include 'admin/_partials/_admin_navbar.html.twig' %}
            </div>

            <div class="col-md-8 mb-5">


                <div class="card bg-custom-dark">
                    <div class="card-header">{{ 'template.season_management.header' | trans }} <a href="{{ path('admin_dashboard') }}" style="font-size: x-small !important;" class="btn btn-sm btn-outline-secondary float-right">{{ 'template.admin.dashboard' | trans }}</a></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                {{ 'season_management.table.header.server_name' | trans }}
                            </div>
                            <div class="col text-center">
                                {{ 'season_management.table.header.season_number' | trans }}
                            </div>
                            <div class="col text-center">
                                {{ 'season_management.table.header.season_status' | trans }}
                            </div>
                            <div class="col text-center">
                                {{ 'season_management.table.header.actions' | trans }}
                            </div>
                        </div>
                        <hr>
                        {% for server in servers %}
                            <div class="row">
                                <div class="col text-center">
                                    {{ server.name }}
                                </div>
                                <div class="col text-center">
                                    {{ server.seasonId }}
                                </div>
                                <div class="col text-center">
                                    {{ server.seasonStatus }}
                                </div>
                                <div class="col text-center">
                                    {% if server.seasonStatus == constant('App\\Entity\\Season::STATUS_PREPARING') %}
                                        <a href="{{ path('admin_start_season', { 'id': server.id }) }}" class="btn btn-sm btn-danger">{{ 'season_management.actions.start_season' | trans }}</a>
                                    {% endif %}
                                    {% if server.seasonStatus == constant('App\\Entity\\Season::STATUS_ACTIVE') %}
                                        <div class="btn-group-vertical btn-group-sm" role="group" aria-label="Basic example">
                                            <a class="btn btn-warning" href="{{ path('admin_simulate_season', { 'id': server.id }) }}">{{ 'season_management.actions.simulate_season' | trans }}</a>
                                            <a class="btn btn-secondary" href="{{ path('admin_simulate_one_game', { 'id': server.id }) }}">{{ 'season_management.actions.simulate_one_game' | trans }}</a>
                                            <a class="btn btn-secondary" href="{{ path('admin_simulate_two_games', { 'id': server.id }) }}">{{ 'season_management.actions.simulate_two_games' | trans }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        {% endfor %}

                    </div>
                </div>

            </div>


        </div>
    </div><!-- Container -->


{% endblock %}
