<div class="row"><!-- Row standings -->
    <div class="col-md-12">
        <div class="card text-white bg-custom-dark mb-3" style="width: 100%;">
            <div class="card-header pt-4 pb-4">Standings</div>
            <div class="card-body pb-0 pt-2">
                <div class="card-standings-header">
                    <div class="row">
                        <div class="col-8 text-center pt-2 pb-2 text-white font-weight-bold">Team</div>
                        <div class="col-2 text-center pt-2 pb-2 text-white font-weight-bold">W</div>
                        <div class="col-2 text-center pt-2 pb-2 text-white font-weight-bold">L</div>
                    </div>
                </div>
                {% for teamStatus in standings %}
                    <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.125);">
                        <div class="col-8 text-center pt-2 pb-2 text-white-50 card-small-text">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{ vich_uploader_asset(teamStatus.team, 'imageFile')|imagine_filter('my_player_image') }}" height="25" width="25" alt="">
                                </div>
                                <div class="col-10">
                                    {{ teamStatus.team.city }} {{ teamStatus.team.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-center pt-2 pb-2 text-white-50 card-small-text">{{ teamStatus.win }}</div>
                        <div class="col-2 text-center pt-2 pb-2 text-white-50 card-small-text">{{ teamStatus.lose }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div><!-- Row standings -->
