<div class="card bg-custom-dark">
    <div class="card-header">Menu</div>
    <div class="card-body">
        <ul class="nav flex-column bg-custom-dark text-white text-decoration-none text-uppercase">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('admin_season') }}">Manage season</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('list_attribute') }}">Attribute list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('list_badge') }}">Badge list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('list_coach') }}">Coach list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('list_player') }}">Player list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('list_team') }}">Team list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('list_training_camp') }}">Training camp list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('list_user') }}">User list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('set_user_rewards') }}">Set user rewards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('admin_change_coach') }}">Change / Set coach</a>
            </li>
        </ul>
    </div>
</div>


